*{margin:0; padding:0;}
.fl{float:left;}
.cl{clear:left;}
.fr{float:right;}
.cf:after{content:''; display: block; clear: both;}

#popup{width:462px; height: 696px; background-color: #fff; position:fixed; z-index:999999;}
#popup *{letter-spacing:-2px; color:#333333; text-align:left;}
#popup a{text-decoration:none; color:#00f;}
#popup img{width: 93px; margin-left: 22px; margin-top: 24px; }
#popup .contxt, #popup .pop_footer{padding:0px 32px;}
#popup .contxt{height:465px;}
#popup .pop_title{width:396px;background-color:#1a6fa6; margin:8px auto 0 auto; padding:16px 0px;}
#popup .pop_title>h2{color:#fff; text-align:center; letter-spacing:-2.5px;}
#popup .pop_title>.yellow{color:#fff200;}
#popup .contxt{border-bottom: 1px solid #cccccc;}
#popup p{margin: 3px 0px; font-size:0.9em;}
#popup p.header{margin: 13px 0px; font-weight:bold;}
#popup p.notice{margin: 5px 0px;}
#popup p.notice.first{margin-top:15px;}
#popup li>span{display:block; float:left; width:298px; font-weight:1000;}
#popup li span.num{font-size:1.1em; font-weight:bold;}
#popup p.last{font-weight:bold;margin-top:30px;}
#popup .contxt ul li{ font-weight: bold; color:#222222; margin-top:5px; list-style:none;}
#popup .contxt ul li:before{background-color: #1a6fa6; text-align:center; display: block; width: 90px; border-radius: 10px; color: #fff; float:left; margin-right: 10px; clear:left;}
#popup .contxt ul li.line1:before{content:'중단일시';}
#popup .contxt ul li.line2:before{content:'중단사유';}
#popup .contxt ul li.line3:before{content:'서비스 중단';}
#popup label{font-weight:bold; font-size:1.1em; line-height:53px; color:#1a6fa6; cursor:pointer;}
#popup input[type="checkbox"]:checked ~ label:before{background:url(../images/check.png)no-repeat center center; background-size:26px;}
#popup label:before{content:''; display:block; width:22px; height:22px; border-radius:50%; border: 2px solid #1a6fa6; float:left; margin-top:14px; margin-right:8px;}
#popup input{display:none;}
#popup .close{font-weight:bold; font-size:1.1em; line-height:53px; cursor:pointer; color:#666; cursor:pointer;}
#popup .close:hover:before{background:url(../images/x_hover.png)no-repeat center center; background-size: 13px; background-color:red;}
#popup .close:before{content:''; display:block; width:22px; height:22px; border-radius:50%; background-color: #fff; float:right; margin-top:14px; margin-left:10px; border:2px solid #666; background:url(../images/x.png)no-repeat center center; background-size: 13px; cursor:pointer;}




